.row-em {
  color: aqua;
  display: inline;
  justify-content: space-between;
}

.panel-em {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  color: magenta;
}

* {
  box-sizing: border-box;
}


.box-em {
  /* box-sizing: border-box; */
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 1px solid rgb (221,221,221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  margin-top: 48px;
  font-family: 'Roboto';
  position: sticky;
  background:white;
}
.price-rating-em {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#one-em {
  position: fixed;
  top: 180px;

  right: 10px;


}

.price-rating-grid-em {
  width: 90%;
  display: grid;
  grid-template-columns: 50% auto  10%;
  grid-template-rows: 30px;
  font-family: 'Roboto';
  padding: 10px;



}

.price-em {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:1;
  grid-row-end: 2;

}
.rating-em {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start:1;
  grid-row-end: 2;

}