
.outer-box-em {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.box-border-start-em {
  border-color: rgb(176, 176, 176);
  top: -1px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 8px 0px 0px 0px;
  border-width: 1px;
  z-index: 0;
  font-size: 12px;
  letter-spacing: 0.7px;
  padding: 20px;
  width:100%;
}
.box-border-end-em {
  border-color: rgb(176, 176, 176);
  top: -1px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 0px 8px 0px 0px;
  border-width: 1px;
  z-index: 0;
  font-size: 12px;
  letter-spacing: 0.7px;
  padding: 20px;
  width:100%;
}

.main_button-em {
  /* border-radius: 50%; */
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: -1px;
  border-radius: 0px 0px 8px 8px;
  border-color: rgb(176, 176, 176);
  border-width: 1px;
  z-index: 0;
  font-size: 12px;
  background: white;
  letter-spacing: 0.7px;
  outline: none;
  top: 65%;
  left: 39%;
  padding: 20px;
  width:80%;
}
#date1-em {
  margin-left:160px;
}

/* @import 'react-datepicker/dist/react-datepicker.css';

.react-datepicker__month-container {
  background-color:white;
  color: #969eac;
  font-size: 1rem;
  font-family: 'Roboto';
}
  /* .react-datepicker__month {
    padding: 1rem 0;
  } */

  .react-datepicker__month-text {
    display: inline-block;
    width: 5rem;
    margin: 0.5rem;
    font-size: 1rem;
    padding: 0.2rem;
    color: rebeccapurple;

  }

  .react-datepicker__month {
    margin: 0.4rem;
    text-align: center;
    font-style: normal;
    font-family: 'Roboto';

  }

  .react-datepicker__week-number.react-datepicker__week-number--clickable:hover {
    border-radius: 0.3rem;
    background-color: white;
  } */





  .react-datepicker__header {
    text-align: center;
    background-color:white;
    border-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 8px;
    position: relative;

  }

  .react-datepicker__today-button {
    background: #3e82cf;
    border-top: 0px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    clear: left;
  }

  .react-datepicker {
    font-family: 'Roboto';
    background: white;
    font-size: 0.8rem;
    border: 0px;
    border-radius: 0;
    display: flex;
    position: fixed;
    right: 10px;
  }
  .disabled-date-em {
    pointer-events: none;
    color: rgb(179, 173, 173);
  }