

.button {
  border-radius: 50%;
  background:white;
  border-color: rgb(92, 90, 90);
  border-width: 1px;

}


.main_button {
  /* border-radius: 50%; */
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: -1px;
  border-radius: 0px 0px 8px 8px;
  border-color: rgb(176, 176, 176);
  border-width: 1px;
  z-index: 0;
  font-family: 'Roboto';
  font-size: 16px;
  background: white;
  letter-spacing: 0.7px;
  outline: none;
  top: 65%;
  left: 39%;
  padding: 20px;
  width:90%;
}


.collapsible {
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.content-style-grid {
  display: grid;
  grid-template-columns: 30% auto 15% 15% 15%;
  grid-template-rows: 50px 50px 50px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 0.7px;
  padding: 10px;
  margin-top: 25px;
  width: 90%;

}
.box-width {
  width: 90%;
}

.adults-text{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:1;
  grid-row-end: 2;
}

.adults-button-minus{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start:1;
  grid-row-end: 2;
}
.adults-number{
  grid-column: 4;
  grid-row: 1 / span 1;
}
.adults-button-plus{
  grid-column: 5;
  grid-row: 1 / span 1;
}

.children-text{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.children-button-minus{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.children-number{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.children-button-plus{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

.infants-text{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.infants-button-minus{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.infants-number{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.infants-button-plus{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
.buttom-text {
  width: 90%;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0.7px;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}