

.MainDivEM {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: left;
}

.SvgStylingEM {
  display: block;
  height: 24px;
  width: 24px;
  color: red;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
  justify-items: center;
}

.DescriptionTextBoldEM {
  font-family: 'Roboto';
  font-weight: normal;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  justify-self: start;
  align-self: start;
  justify-items: start;
  letter-spacing: 0.7px;
}
.DescriptionTextLightEM{
  font-family: 'Roboto';
  font-weight: lighter;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-self: start;
  align-self: start;
  justify-items: start;
  font-size: 14px;
  letter-spacing: 0.7px;
}
.ExtraInfoTextLightEM{
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 16px;
  letter-spacing: 0.7px;
  margin: 20px;
}
.AmenitiesTextEM {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 16px;
  letter-spacing: 0.7px;
  margin: 20px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  justify-self: start;
  align-self: start;
  justify-items: start;
}

.DescriptionGridEM{
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows:auto;
  padding: 10px;
}
.AmenitiesGridEM {

  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 50% auto;
  padding-left: 10px;
}
.LineEM{
  color: rgba(0, 0, 0, 0.35);
  width:490px;
  margin: 20px;
}

 .AmentitiesTytleEM{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.7px;
  margin: 10px;
 }

 .FirstTitleGridEm {
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: 50% 50%;
 }

 .FirstTitleBoldEm{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.7px;
  margin: 10px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  justify-self: start;
  align-self: start;
  justify-items: start;
 }

 .FirstTitleLightEm{
  font-family: 'Roboto';
  font-weight: light;
  font-size: 18px;
  letter-spacing: 0.7px;
  margin: 10px;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  justify-self: start;
  align-self: start;
  justify-items: start;
 }

 .FirstTitleImgEm {
  height: 50px;
  width: 50px;
  margin-left: 12px;
  border-radius: 50%;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
  justify-items: center;
 }

